.login-page {
    margin-top: 100px;
}

.register-page {
    margin-top: 100px;
}

.form-details img {
    width: 40px;
    height: 50px;
}

.form-details h1 {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    margin-left: 6px;
    margin-bottom: 2px !important;
}

.form-details p {
    color: rgb(94, 94, 94);
    font-size: 15px;
}

/* pagination */

.span-disabled {
    color: #4f5d75;
    text-align: center;
    align-items: center;
    justify-content: center !important;
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dddfeb;
}

.span-disabled:hover {
    text-decoration: none !important;
    color: #4f5d75;
}

/* Example styles for Vue3 Toastify */

/* Toast container */
.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

/* Toast message */
.toast-message {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
}

/* Toast success */
.toast-success {
    background-color: #28a745;
}

/* Toast error */
.toast-error {
    background-color: #dc3545;
}



/* ---------------- */

/*** profile ***/

.profile-tab-nav {
    min-width: 250px;
}

.tab-content {
    flex: 1;
}

.form-group {
    margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #333;
}
.nav-pills a.nav-link i {
    width: 20px;
}

.img-circle img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #fff;
}
